/node_modules
/src

CONTRIBUTING.md
SECURITY.md
CODE_OF_CONDUCT.md

.gitignore
.gitattributes

ast.json
table.csv
structure.json

fixup.sh
pnpm-lock.yaml

eslint.config.js
eslint.config.mjs

tsconfig.json
tsconfig.cjs.json
tsconfig.dts.json
tsconfig.mjs.json